<!doctype html>
<html>
<head>
  <style>
	  table  { border-collapse: collapse; }
	  td, th { border: 1px solid black; padding: 3px 8px; }
	  th     { text-align: left; }
  </style>
	<title>Final CS290 Project</title>
</head>
<body>
	{{{body}}}
	<script type="text/javascript">
		/******* Client Side for building forms on page ************/
		var MOUNTAINS = [
		  {name: "Kilimanjaro", height: 5895, country: "Tanzania"},
		  {name: "Everest", height: 8848, country: "Nepal"},
		  {name: "Mount Fuji", height: 3776, country: "Japan"},
		  {name: "Mont Blanc", height: 4808, country: "Italy/France"},
		  {name: "Vaalserberg", height: 323, country: "Netherlands"},
		  {name: "Denali", height: 6168, country: "United States"},
		  {name: "Popocatepetl", height: 5465, country: "Mexico"}
		];

		if (typeof module != "undefined" && module.exports)
		  module.exports = MOUNTAINS;

		//document.addEventListener('DOMContentLoaded', function(){document.body.appendChild(buildTable(MOUNTAINS)); console.log("TP1");});
		
		document.addEventListener('DOMContentLoaded', function(){
			var req = new XMLHttpRequest();
			req.open('get', 'http://52.41.61.160:3047/curinfo', true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
			  if(req.status >= 200 && req.status < 400){
				var response = JSON.parse(req.responseText);
				console.log(response);
				document.body.appendChild(buildTable(response));
			  } else {
				console.log("Error in network request: " + req.statusText);
			  }});
			  req.send("BOOBAA");
		});
		
		document.getElementById('newSubmit').addEventListener('click', function(event){
			var req = new XMLHttpRequest();
			var payload = {name:null, reps:null, weight:null, date:null, lbs:null};
			payload.name = document.getElementById('newName').value;
			payload.reps = document.getElementById('newReps').value;
			payload.weight = document.getElementById('newWeight').value;
			payload.date = document.getElementById('newDate').value;
			payload.lbs = document.getElementById('newLbs').value;
			req.open('POST', 'http://52.41.61.160:3047/', true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
			  if(req.status >= 200 && req.status < 400){
				var response = JSON.parse(req.responseText);
				console.log(response);
			  } else {
				console.log("Error in network request: " + req.statusText);
			  }});
			req.send(JSON.stringify(payload));
			event.preventDefault();
		  });
	  
		function buildTable(data) {
				var keys = Object.keys(data[0]);
				var table = document.createElement("table");
				
				var row = document.createElement("row");
				keys.forEach(function(field){
					if(field != 'id'){
						var th = document.createElement("th");
						th.textContent = field;
						row.appendChild(th);
					}
				});
				var th = document.createElement("th");
				th.textContent = "Edit/Delete";
				row.appendChild(th);
				
				table.appendChild(row);
				data.forEach(function(item){
					row = document.createElement("tr");
					keys.forEach(function(field){
						if(field != 'id'){
							var td = document.createElement("td");
							td.textContent = item[field];
							row.appendChild(td);
						}
					});
					var form = document.createElement("form");
					var edit = document.createElement("input");
					edit.type = "submit";
					edit.value = "Edit";
					/*var delete = document.createElement("input");
					delete.type = "submit";
					delete.value = "delete";
					form.append(edit);
					form.append(delete);
					var nTd = document.createElement("td");
					nTd.append(form);
					row.append(nTd);*/
					table.appendChild(row);
				});
				return table;
		}
	</script>
</body>
</html>9+