<form type="post">
<fieldset>
<legend>Add New Exercise</legend>
<label for="editName">Name</label>
<input type="text" name="editName" id="editName" />
<label for="editReps">Reps</label>
<input type="text" name="editReps" id="editReps" />
<label for="editWeight">Weight</label>
<input type="text" name="editWeight" id="editWeight" />
<label for="editDate">Date</label>
<input type="text" name="editDate" id="editDate" />
<label for="editLbs">lbs</label>
<input type="text" name="editLbs" id="editLbs" />
<input id="editSubmit" type="submit" value="Add" />
</fieldset>

<script type="text/javascript">
	document.getElementById('editSubmit').addEventListener('click', function(event){
			var req = new XMLHttpRequest();
			var payload = {name:null, reps:null, weight:null, date:null, lbs:null};
			payload.name = document.getElementById('editName').value;
			payload.reps = document.getElementById('editReps').value;
			payload.weight = document.getElementById('editWeight').value;
			payload.date = document.getElementById('editDate').value;
			payload.lbs = document.getElementById('editLbs').value;
			req.open('POST', 'http://52.41.61.160:3047/', true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
			  if(req.status >= 200 && req.status < 400){

				/*var response = JSON.parse(req.responseText);
				var table = document.getElementById("theTable");
				document.body.removeChild(table);
				document.body.appendChild(buildTable(response));*/
			  } else {
				console.log("Error in network request: " + req.statusText);
			  }});
			req.send(JSON.stringify(payload));
			event.preventDefault();
		  });
</script>